In [1]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
# URL page we will scraping (see image above)
url = "https://www.gamespot.com/articles/animal-crossing-new-horizons-fish-guide-how-to-cat/1100-6474887/"
# this is the HTML from the given URL
html = urlopen(url)
soup = BeautifulSoup(html)
rows = soup.findAll('tr')

In [49]:
fish_list = []
for x in rows[2].findAll('td'):
    fish_list.append(x.getText())
fish_list

['Angelfish', 'May - Oct', 'River', '4 PM - 9 AM', '3,000']

In [74]:
northern_hemisphere_df = pd.DataFrame({'fish': [], 'seasonality': [], 'location': [], 'time':[], 'price':[]})
southern_hemisphere_df = pd.DataFrame({'fish': [], 'seasonality': [], 'location': [], 'time':[], 'price':[]})

def add_to_df(row, df):
    if df == 0:
        northern_hemisphere_df_length = len(northern_hemisphere_df)
        northern_hemisphere_df.loc[northern_hemisphere_df_length] = row
    else:
        southern_hemisphere_df_length = len(southern_hemisphere_df)
        southern_hemisphere_df.loc[southern_hemisphere_df_length] = row

In [75]:
current_df = 0
for current_row in range(1, len(rows)):
    row_content = rows[current_row].findAll('td')
    if (len(row_content) == 0):
        current_df = 1
    else:
        fish_list = []
        for x in rows[current_row].findAll('td'):
            fish_list.append(x.getText())

        add_to_df(fish_list, current_df)
    current_row += 1

In [78]:
northern_hemisphere_df['seasonality'].apply(lambda x: x.replace(",", " -"))
southern_hemisphere_df['seasonality'].apply(lambda x: x.replace(",", " -"))
northern_hemisphere_df.to_json(r'nh_fish.json')
southern_hemisphere_df.to_json(r'sh_fish.json')

In [80]:
northern_hemisphere_df.to_csv('nh_fish.csv')
southern_hemisphere_df.to_csv('sh_fish.csv')

In [87]:
northern_hemisphere_df

                fish              seasonality location         time   price
0            Anchovy                 All year    Ocean  4 AM - 9 PM     200
1          Angelfish                May - Oct    River  4 PM - 9 AM   3,000
2           Arapaima              June - Sept    River  4 PM - 9 AM   8,000
3            Arowana              June - Sept    River  4 PM - 9 AM  10,000
4    Barred Knifejaw                Mar - Nov    Ocean      All day   5,000
..               ...                      ...      ...          ...     ...
69           Tilapia               June - Oct    River      All day     800
70              Tuna                Nov - Apr     Pier      All day   7,000
71       Whale Shark              June - Sept    Ocean      All day  13,000
72      Yellow Perch                Oct - Mar    River      All day     300
73  Zebra Turkeyfish  April - May, July - Nov    Ocean      All day     500

[74 rows x 5 columns]

In [98]:
def replace_comma(x):
    to_return = ''
    try:
        to_return = x['seasonality'].replace(",", " -")
    except:
        to_return = x
    finally:
        print(x)
        return 'hey'

0                     All year
1                    May - Oct
2                  June - Sept
3                  June - Sept
4                    Mar - Nov
                ...
69                  June - Oct
70                   Nov - Apr
71                 June - Sept
72                   Oct - Mar
73    April - May - July - Nov
Name: seasonality, Length: 74, dtype: object